{% extends "_base.html" %}
{% block content %}
	<h1 class="text-center border-b-4 border-zinc-100 pb-10 text-6xl font-bold mt-20 text-zinc-600">Products</h1>
    <div class="flex justify-center items-center gap-6">
        {% for product in products %}
            <div class="card bg-base-100 w-96 shadow-xl">
                <figure>
                    <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                            alt="Shoes"/>
                </figure>
                <div class="card-body">
                    <h2 class="card-title">
                        {{ product.name }}
                        <div class="badge badge-secondary">NEW</div>
                    </h2>
                    <span class="block font-bold animate-pulse">{{ product.price }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
