<header class="fixed top-0 z-10 inset-x-0 border-b-4 border-zinc-200">
    {#  Begin Header  #}
    <div class="navbar bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor">
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h8m-8 6h16"/>
                    </svg>
                </div>
                <ul
                        tabindex="0"
                        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
                    {% for i in menu %}
                    	<li><a href="{{ i.link }}">{{ i.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <a href="/" class="btn btn-ghost text-xl">Maktab</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                {% for i in menu %}
                    <li><a class="{% if i.link == "#" %}bg-[#eee]{% endif %}" href="{{ i.link }}">{{ i.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="navbar-end">
            <a class="btn">Login / Register</a>
        </div>
    </div>
    {#  End Header  #}
</header>